# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Google Repo'
      'submenu': [
        {
          'label': 'Refresh'
          'command': 'google-repo:refresh'
        }
      ]
    ]
  }
]
